# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
venv/
venv311/

# macOS
.DS_Store

# Large model files
*.pth
*.pt
*.ckpt

# Hugging Face cache
Miniconda3-latest-Linux-x86_64.shIDM-VTON.zip
