# Python
__pycache__/
*.pyc

# Virtual environments
venv/
venv311/

# macOS
.DS_Store

# Python cache
.pytest_cache/

# Large model files
*.pth
*.pt
*.ckpt

# Hugging Face cache
.cache/
GroundingDINO/
SCHP/
